
/*
 * Thanks to
 * https://www.w3schools.com/howto/howto_css_image_effects.asp
 */

.filter-grayscale {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}

.filter-blur {
	-webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
	filter: blur(5px);
}


/*
 * FOR MORE FILTERS JUST SEE/USE:
 * - https://github.com/picturepan2/instagram.css
 * - https://github.com/una/CSSgram
 */
