@import "variables";
@import "breakpoints";


@mixin button {
	display: inline-block;
	cursor: pointer;
	-webkit-user-drag: none;
	-webkit-font-smoothing: inherit;

	background-color: #E6E6E6;
	border: none;
	border-radius: $vanilla-border-radius;

	padding: 0.5rem 1rem;

	transition: opacity .3s ease-in-out, background .3s ease-in-out;


	&:hover, &:focus, &:active {
		//opacity: 0.9; NOTE: removed because generate a bad effect
		background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
	}

	&.btn--flat {
		border: none;
		border-radius: 0;
	}

	&.btn--large {
		padding: 0.5rem 2rem;

		@include from_breakpoint('medium') {
			padding: 0.5rem 3rem;
		}

	}

}


/*
 * Build your own buttons
 */

@mixin button-builder($name, $color, $color-text: $color-white, $color-active: $color, $color-active-text: $color-white, $border: none ) {
	.btn.btn--#{$name} {
		color: $color-text;
		background-color: $color;
		border: $border;
		text-decoration: none;
		transition: all .3s ease-in-out;

		&:hover, &:focus, &:active, &.btn--active {
			background-color: $color-active;
			color: $color-active-text;
			text-decoration: none;
		}

		&.btn--outline {
			color: $color;
			background-color: transparent;
			border: solid 1px $color;

			&:hover, &:focus, &:active, &.btn--active {
				background-color: $color-active;
				color: $color-active-text;
			}

		}


	}
}
