
@mixin flex-wrap {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

@mixin flex-wrap-off {
	-ms-flex-wrap:nowrap;
	flex-wrap: nowrap;
}

@mixin flex-row-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

@mixin flex-col-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}
