@import "font_units";

/*
 * Fluid Typography - https://css-tricks.com/snippets/css/fluid-typography/
 * Usage: @include fluid-type($min_width, $max_width, $min_font, $max_font);
 */

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
	$u1: unit($min-vw);
	$u2: unit($max-vw);
	$u3: unit($min-font-size);
	$u4: unit($max-font-size);

	@if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
		& {
			font-size: $min-font-size;
			@media screen and (min-width: $min-vw) {
				font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
			}
			@media screen and (min-width: $max-vw) {
				font-size: $max-font-size;
			}
		}
	}
}


@mixin fluid-type3($min-vw, $mid-vw, $max-vw, $min-font-size, $min2-font-size, $max1-font-size, $max-font-size) {

	& {
		font-size: $min-font-size;
		@media screen and (min-width: $min-vw) {
			font-size: calc(#{$min-font-size} + #{strip-unit($min2-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($mid-vw - $min-vw)}));
		}
		@media screen and (min-width: $mid-vw + 1) {
			font-size: calc(#{$max1-font-size} + #{strip-unit($max-font-size - $max1-font-size)} * ((100vw - #{$mid-vw}) / #{strip-unit($max-vw - $mid-vw)}));
		}
		@media screen and (min-width: $max-vw) {
			font-size: $max-font-size;
		}
	}

}


@mixin fluid-option($name, $min-vw, $max-vw, $min-font-size, $max-font-size) {
	$u1: unit($min-vw);
	$u2: unit($max-vw);
	$u3: unit($min-font-size);
	$u4: unit($max-font-size);

	@if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
		& {
			#{$name}: $min-font-size;
			@media screen and (min-width: $min-vw) {
				#{$name}: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
			}
			@media screen and (min-width: $max-vw) {
				#{$name}: $max-font-size;
			}
		}
	}
}


@mixin fluid-option3($name, $min-vw, $mid-vw, $max-vw, $min-font-size, $min2-font-size, $max1-font-size, $max-font-size) {

	& {
		#{$name}: $min-font-size;
		@media screen and (min-width: $min-vw) {
			#{$name}: calc(#{$min-font-size} + #{strip-unit($min2-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($mid-vw - $min-vw)}));
		}
		@media screen and (min-width: $mid-vw + 1) {
			#{$name}: calc(#{$max1-font-size} + #{strip-unit($max-font-size - $max1-font-size)} * ((100vw - #{$mid-vw}) / #{strip-unit($max-vw - $mid-vw)}));
		}
		@media screen and (min-width: $max-vw) {
			#{$name}: $max-font-size;
		}
	}

}
