/*
 * Includes:
 * -Box Sizing: https://css-tricks.com/box-sizing/
 */


// set HTML font base to 16px then use REM
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 16px;
	font-family: $vanilla-fontstack-base;
	line-height: 1.4;
	// Border box
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	// NEW
	scroll-behavior: smooth;
	// Android Mobile background-attachment: fixed will not work without this
	height: 100%;
}

/*
 NOTE: don't forget this for IOS mobile if using "fixed" as background-attachment
 @supports (-webkit-overflow-scrolling: touch) {
	background-attachment: initial;
}
 */


// Turn off smooth scroll
//noinspection CssInvalidMediaFeature
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}


// Border Box
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}


body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: $vanilla-text-color;
}


// Normalize button sizes
BODY, button, input, select {
	font-size: 1rem;
}

// Normalize with native font stack

button, input {
	font-family: inherit;
}

code, pre, kbd, .text-mono {
	font-family: $vanilla-fontstack-mono;
	tab-size: 3;
	white-space: pre-wrap;
}


/*
* HEADERS
* https://joshnh.com/weblog/how-to-set-up-a-baseline-grid/
*/

$vanilla-header-base-size: 1rem !default;

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6 {
	font-family: $vanilla-fontstack-headers;
	color: $vanilla-headers-color;
	line-height: 1.5;
	@extend .font-antialias;
}

h1,.h1 {
	font-size: $vanilla-header-base-size * 3;
}
h2,.h2 {
	font-size: $vanilla-header-base-size * 2.25;
}
h3,.h3 {
	font-size: $vanilla-header-base-size * 2;
}
h4,.h4 {
	font-size: $vanilla-header-base-size * 1.75;
}
h5,.h5 {
	font-size: $vanilla-header-base-size * 1.25;
}
h6,.h6 {
	font-size: $vanilla-header-base-size;
	font-weight: bold;
}

// Make P consistent with the baseline
p {
	margin-bottom: 1rem;
	line-height: 1.5;
}

ins {
	background: #fff9c0;
	text-decoration: none;
}
