
.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}

.circular {
	border-radius: 50%;
}

.rounded {
	border-radius: 64px;
}

.radius {
	border-radius: $vanilla-border-radius;
}

.no-mouse {
	pointer-events: none;
	cursor: pointer;
}

.disabled, [disabled] {
	-webkit-touch-callout: none;
	pointer-events: none;
	cursor: not-allowed;
	color: $vanilla-disabled-color;
}

.fill-parent {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.margin-center {
	margin-left: auto;
	margin-right: auto;
}
@mixin margin-center {
	margin-left: auto;
	margin-right: auto;
}


.link-underline {
	background-color: transparent;
	background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
	background-repeat: repeat-x;
	background-size: 100% 1px;
	background-position: 0 100%;
	text-decoration: none;
}


.link-animated-underline-right {
	border-bottom: 1px transparent;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		bottom: -6px;
		right: 100%;
		left: 0;
		border-bottom: 1px solid currentColor;
		transition: right .3s ease-in-out;
	}

	&:hover::before {
		right: 0;
	}

}


.link-animated-underline {
	border-bottom: 1px transparent;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		bottom: -6px;
		right: 100%;
		left: 100%;
		border-bottom: 1px solid currentColor;
		transition: right .3s ease-in-out, left .3s ease-in-out;
	}

	&:hover::before {
		right: 0;
		left: 0;
	}
}
