/*
 * Optional components
 */
$vanilla-use-wordpress: 1 !default;
$vanilla-use-medium: 1 !default;
$vanilla-use-pulse: 1 !default;
$vanilla-use-image-filters: 1 !default;
$vanilla-use-grid-extra: 1 !default;
$vanilla-use-fabs: 1 !default;
$vanilla-use-spinner: 1 !default;

/*
 * Constants
 */
$color-white: #fff;
$native-family-base: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", Arial, sans-serif;
$native-family-monospace: Consolas, 'Liberation Mono', Menlo, Monaco, "Courier New", Courier, monospace;
$generic-family-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$generic-family-serif: 'PT Serif', Georgia, Cambria, "Times New Roman", Times, serif;
$generic-family-headers: 'Source Sans Pro', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;


/*
 * FONT STACK
 */
$vanilla-fontstack-base: $native-family-base !default;
$vanilla-fontstack-mono: $native-family-monospace !default;
$vanilla-fontstack-serif: $generic-family-serif !default;

// Medium uses different headers
$vanilla-fontstack-headers: if($vanilla-use-medium == 1, $generic-family-headers, $native-family-base ) !default;


/*
 * Main Colors
 */
$vanilla-text-color: rgba(0,0,0,.8) !default; // same as #333
$vanilla-alt-text-color: rgba(0,0,0,.6) !default;
$vanilla-disabled-color: rgba(0,0,0,.4) !default;
$vanilla-headers-color: $vanilla-text-color !default;
$vanilla-border-radius: 4px !default;


// MATERIAL COLORS
$vanilla-primary-color: #03A9F4 !default;

// COMPLEMENTARY COLORS
// https://www.sessions.edu/color-calculator/

$vanilla-secondary-color:#f45303;
$vanilla-tertiary-color: #f4cc03;
$vanilla-quaternary-color: #a003f4;
// quinary, senary, septenary, octonary, nonary, denary.


// FORM
$vanilla-form-background: rgba(0,0,0,.03) !default;
$vanilla-form-border-color: rgba(0,0,0,.1) !default;
$vanilla-form-border: 1px solid $vanilla-form-border-color !default;
$vanilla-form-box-shadow: inset 0 1px 3px $vanilla-form-border-color !default;


// GRID
$vanilla-breakpoint-small: 480px !default;
$vanilla-breakpoint-medium: 768px !default;
$vanilla-breakpoint-large: 1024px !default;
$vanilla-breakpoint-x-large: 1366px !default;
$vanilla-breakpoint-xx-large: 1600px !default;
$vanilla-grid-gutter-size: 2em !default;


// NAVBAR
$vanilla-navbar-breakpoint: $vanilla-breakpoint-large !default;
$vanilla-navbar-li-padding: 1rem !default;
$vanilla-navbar-li-spacing: 2rem !default;
$vanilla-navbar-overlay-background: #ddd !default; //#444 !default;
$vanilla-navbar-overlay-color: $vanilla-text-color !default;
$vanilla-navbar-overlay-zindex: 99;

// SECTION
$vanilla-section-background-color: #f8f8f8;


// HOVER
$vanilla-hover-background: $vanilla-section-background-color !default;
$vanilla-hover-color: $vanilla-text-color !default;
$vanilla-hover-active-background: $vanilla-form-border-color !default;
$vanilla-hover-active-color: $vanilla-text-color !default;
$vanilla-hover-zindex: 89;

// COVER/OVERLAY
$vanilla-cover-background-color: rgba(0,0,0,.5);
$vanilla-cover-bottom-background: linear-gradient(0deg, rgba($color: black, $alpha: 0.7) 0, rgba($color: black, $alpha: 0.3) 60%, transparent);


// MEDIUM
$medium-paragraph-margin-top: px2rem(29) !default;


// WP GENERAL
$vanilla-wp-horizontal-spacing: 1rem !default;
$vanilla-wp-horizontal-spacing-medium: 2rem !default;
$vanilla-wp-vertical-spacing: 1rem !default;
$vanilla-wp-vertical-spacing-medium: $vanilla-wp-vertical-spacing * 2 !default;
$vanilla-wp-vertical-spacing-large: $vanilla-wp-vertical-spacing * 3 !default;


// LAYOUT
$vanilla-container-large-size: 1100px !default;
$vanilla-container-standard-size: 1000px !default;
$vanilla-container-small-size: 700px !default;
$vanilla-container-full-size: 1920px !default;
