/*
 * Thanks to:
 * https://css-tricks.com/snippets/css/a-guide-to-flexbox/
 */


/*
 * NOTE: Flex does not requires vendor prefixes anymore
 */


/* UNUSED
.flex {
	display: flex;
}
 */

/* UNUSED
.flex-inline {
	display: inline-flex;
}
 */

// flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
/* No broser prefix anymore
@mixin flex($fg: 1, $fs: null, $fb: null) {
	flex: $fg $fs $fb;
}
 */

// used in grid
.flex-grow, .grid .cell.flex-grow {
	flex-grow: 1;
}

.flex-shrink, .grid .cell.flex-shrink {
	flex-shrink: 1;
}
