$vanilla-container-padding: 1rem !default;
$vanilla-container-padding-px: rem2px($vanilla-container-padding);

.container, .container-small, .container-large, .container-full {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}


.container {
	max-width: $vanilla-container-standard-size;

	&.fluid {
		@media (max-width: ($vanilla-container-standard-size+$vanilla-container-padding-px+$vanilla-container-padding-px)) {
			padding-left: $vanilla-container-padding;
			padding-right: $vanilla-container-padding;
		}
	}

}

.container-small {
	max-width: $vanilla-container-small-size;

	&.fluid {
		@media (max-width: ($vanilla-container-small-size+$vanilla-container-padding-px+$vanilla-container-padding-px)) {
			padding-left: $vanilla-container-padding;
			padding-right: $vanilla-container-padding;
		}
	}

}

.container-large {
	max-width: $vanilla-container-large-size;

	&.fluid {
		@media (max-width: ($vanilla-container-large-size+$vanilla-container-padding-px+$vanilla-container-padding-px)) {
			padding-left: $vanilla-container-padding;
			padding-right: $vanilla-container-padding;
		}
	}

}


.container-full {
	padding-left: $vanilla-container-padding;
	padding-right: $vanilla-container-padding;
}

// Let a section break is parent container
.break-container {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}


// Cover the viewport or create a section
.container-viewport {
	@extend .flex-col-center;
	//align-content: center;

	width: 100%;
	height: 100vh;
	height: var(--vanilla-vh, 100vh);
}


/*
 * Aspects for images and content
 */

.aspect-square {
	@include aspect-ratio(100%);
}

.aspect-4-3 {
	@include aspect-ratio(75%);
}

.aspect-3-2 {
	@include aspect-ratio(66.66%);
}

.aspect-15-9 {
	@include aspect-ratio(60%);
}

.aspect-16-9 {
	@include aspect-ratio(56.25%);
}
