@import "../mixin/variables";
@import "../mixin/animation";

/*
 * Single Item Spinner Resources:
 * https://codepen.io/jasonheecs/pen/dOvzLz
 */

/*
 * from https://codepen.io/jasonheecs/pen/dOvzLz
 * https://projects.lukehaas.me/css-loaders/
 */

@mixin spinner1 {
	position: relative;
	color: transparent;

	&::before {
		position: absolute;
		top: 50%;
		left: calc(50% - 4em);
		width: 1.5em;
		height: 1.5em;
		@include transform(translate3d(-50%, -50%, 0));
		border-radius: 50%;
		color: $vanilla-primary-color;
		content: '';
		will-change: box-shadow;
		@include animation(spinner1 2s infinite linear);
	}
}


@include keyframes(spinner1) {
	0%,
	100% {
		box-shadow: 2.5em 0 0 -.8em, 5em 0 0 -.8em, 7.5em 0 0 -.8em;
	}

	12.5% {
		box-shadow: 2.5em 0 0 0, 5em 0 0 -.8em, 7.5em 0 0 -.8em;
	}

	25% {
		box-shadow: 2.5em 0 0 .2em, 5em 0 0 0, 7.5em 0 0 -.8em;
	}

	37.5% {
		box-shadow: 2.5em 0 0 0, 5em 0 0 .2em, 7.5em 0 0 0;
	}

	50% {
		box-shadow: 2.5em 0 0 -.2em, 5em 0 0 0, 7.5em 0 0 .2em;
	}

	62.5% {
		box-shadow: 2.5em 0 0 -.4em, 5em 0 0 -.2em, 7.5em 0 0 0;
	}

	75% {
		box-shadow: 2.5em 0 0 -.6em, 5em 0 0 -.4em, 7.5em 0 0 -.2em;
	}
}


.img-placeholder {
	display: block;

	@include spinner1;

	&:before {
		z-index: -1;
	}
}


.spinner1 {
	@include spinner1;
}


/*
 * FROM: https://projects.lukehaas.me/css-loaders/
 */

$vanilla-spinner2-size: 3rem;

@mixin spinner2 {
	position: relative;
	color: transparent;

	margin: 0 auto;
	font-size: 10px;
	//text-indent: -9999em;
	border-top: 1.1em solid rgba($vanilla-disabled-color, 0.2);
	border-right: 1.1em solid rgba($vanilla-disabled-color, 0.2);
	border-bottom: 1.1em solid rgba($vanilla-disabled-color, 0.2);
	border-left: 1.1em solid $vanilla-primary-color;

	@include transform(translateZ(0));
	@include animation(spinner2 1.1s infinite linear);

	border-radius: 50%;
	width: $vanilla-spinner2-size;
	height: $vanilla-spinner2-size;

	&::after {
		border-radius: 50%;
		//width: $vanilla-spinner2-size;
		//height: $vanilla-spinner2-size;
	}
}


@include keyframes(spinner2) {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}


.spinner2 {
	@include spinner2;
}
