@if $vanilla-use-wordpress == 1 {

	// .alignfull will generate a horizontal scrollbar
	html, body {
		overflow-x: hidden;
	}


	/*
	 * IMAGE
	 */

	@media (max-width: 1100px) {
		div[class^="wp-block-"] {

			.alignleft, .alignright {
				float: none;
				text-align: center;
				margin-left: auto;
				margin-right: auto;
			}

		}
	}


	@media (min-width: 1100px) {
		.entry-content {
			.alignleft {
				float: left;
				margin-right: 1.8rem;
				margin-top: 0;
				width: 75%;
				margin-left: -150px;
				text-align: right;
				max-width: 520px;
			}

			.alignright {
				float: right;
				margin-left: 1.8rem;
				margin-top: 0;
				max-width: 50%;
				text-align: left;
			}

			.wp-block-pullquote {

				&.alignleft {
					width: 50%;

				}

				&.alignright {
					margin-right: -150px;
				}

			}
		}
	}


	@include from_breakpoint(small) {

		.alignwide {
			margin-left: -20%;
			margin-right: -20%;
			text-align: center;

			img {
				width: 100%;
			}
		}

		.alignfull {
			width: 100vw;
			position: relative;
			left: 50%;
			right: 50%;
			//padding: 0; breaks wp-block-pullquote
			margin-left: -50vw;
			margin-right: -50vw;
			text-align: center;

			img {
				width: 100%;
				max-height: 100vh;
				max-height: var(--vanilla-vh, 100vh);
				object-fit: cover;
			}
		}

	}

	.wp-block-cover {
		min-height: 600px;
		max-height: 100vh;
		max-height: var(--vanilla-vh, 100vh);
		@include flex-col-center;

		.wp-block-cover__inner-container {
			@extend .h1;
		}

		&.has-background-dim {
			.wp-block-cover__inner-container {
				color: #fff;
			}
		}

		&.has-parallax {
			background-attachment: fixed;
		}

	}


	.wp-block-image.img-reset img {
		width: auto;
		max-width: 100%;
	}


	@media (min-width: 1100px) {
		.wp-block-pullquote.alignwide, .wp-block-gallery.alignwide {
			margin-left: -20%;
			margin-right: -20%;
			text-align: center;
		}
	}


	// end-if wordpress
}

//


/*
 * FIX GUTENBERG + MEDIUM
 */
@if $vanilla-use-medium == 1 {

	.medium-content ul.wp-block-gallery li:before {
		display: none;
	}

	.medium-content {

		pre.wp-block-code code {
			background: transparent;
			white-space: pre-wrap;
		}

		figure {

			&.alignleft, &.alignright {
				// same margin as medium paragraph
				margin-top: $medium-paragraph-margin-top;
			}


		}

	}

}
