

@if $vanilla-use-wordpress == 1 {


	.wp-caption-text {
		@include medium-figcaption();
		margin-top: 0;
	}


	.gallery {
		@include flex-grid;

		.gallery-item {
			position: relative;
			display: block;
			margin-bottom: $vanilla-horizontal-spacing;

			.gallery-icon {
				display: block;

				a {
					display: block;

					img {
						display: block;
						width: 100%;
					}
				}
			}

			figcaption {
				@include wordpress-gallery-overlay-bottom-caption;
			}
		}

		&.gallery-columns-2 {
			figure {
				flex: 0 0 49.9%;
			}
		}

		&.gallery-columns-3 {
			figure {
				flex: 0 0 33.2%;
			}
		}

		&.gallery-columns-4 {
			figure {
				flex: 0 0 24.9%;
			}
		}

		//gallery-size-thumbnail
	}


	// move to vanilla-wp
	.site-layout-sidebar {
		.widget {
			margin-bottom: $vanilla-vertical-spacing-medium;
		}
	}

	// end-if
}
