/*
 * Build your own buttons
 */

@mixin fab-builder($name, $color, $color-text: $color-white, $color-active: $color, $color-active-text: $color-white, $border: none ) {
	.fab.fab-#{$name} {
		background-color: $color;

		.fab-label {
			color: $color-text;
		}

		.fab-buttons a {
			color: $color;
			background-color: $color-text;

			.fab-label {
				color: $color;
			}

			svg {
				fill: $color;
			}

		}

	}
}


@if $vanilla-use-fabs == 1 {
	$fab-size: 56px !default;
	$fab-background: #E6E6E6 !default;
	$fab-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12) !default;
	$fab-z-index: $vanilla-hover-zindex !default;
    $fab-margin: 12px;

	/*
   * Many thanks to:
   * https://codepen.io/ruslan_khomiak/pen/QGmwMP
   */

	// Generic Button

	.fab {
        display: block;
		width: $fab-size;
		height: $fab-size;
		background: $fab-background;
		border-radius: 50%;
		// material
		box-shadow: $fab-shadow;
		z-index: $fab-z-index;

		cursor: pointer;

		.fab-label {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			font-size: 2rem;
			line-height: 1;
		}

	}

    // Hidden button container

	.fab-buttons {
		list-style: none;
		margin: 0;
		padding: 0;
		opacity: 0;
		visibility: hidden;
		transition: 0.2s;

        display: flex;
        flex-direction: column;

		cursor: pointer;

		li {
			display: block;
			text-align: center;
			margin-top: $fab-margin;
		}

		a {
			@extend .fab;
			transition: .3s;
            @include transform(scaleY(0.5) scaleX(0.5) translateY(-$fab-margin*3) translateX(0px));
		}

		svg {
			position: absolute;
			top:0; left:0; right: 0; bottom:0;
			padding: 12px;
			fill: $vanilla-alt-text-color;
			width: 100%;
		}

		[data-tooltip]:before {
			top: 50%;
			margin-top: -11px;
			font-weight: 600;
			border-radius: $vanilla-border-radius;
			background: #585858;
			color: #fff;
			content: attr(data-tooltip);
			font-size: 14px;
			text-decoration: none;
			visibility: hidden;
			opacity: 0;
			padding: 4px 7px;
			margin-right: 12px;
			position: absolute;
			@include transform(scale(0));
			right: 100%;
			white-space: nowrap;
			@include transform-origin(top right);
			transition: all .3s cubic-bezier(.25, .8, .25, 1);
		}

		[data-tooltip]:hover:before {
			visibility: visible;
			opacity: 1;
			@include transform(scale(1));
			@include transform-origin(right center 0);
		}

	}

	.fab:hover {

		.fab-buttons {
			opacity: 1;
			visibility: visible;

			a {
				@include transform(scaleY(1) scaleX(1) translateY(0) translateX(0px));
			}

		}

	}

	.fab-label:hover + .fab-buttons a:before {
		visibility: visible;
		opacity: 1;
		@include transform(scale(1));
		@include transform-origin(right center 0);
		transition-delay: 0.3s;
	}


	// POSITION
	.fab-bottom-right {
		position: fixed;
		right: 20px;
		bottom: 20px;

		.fab-buttons {
			position: absolute;
			left: 0;
			right: 0;
			bottom: $fab-size; // - $fab-margin;
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-start;
            align-items: flex-start;

            li {
              margin-top: 0;
              margin-bottom: $fab-margin;
            }

            a {
              @include transform(scaleY(0.5) scaleX(0.5) translateY($fab-margin*3) translateX(0px));
            }

		}

	}


	.fab-top-right {
		position: fixed;
		right: 20px;
		top: 20px;

		.fab-buttons {
			position: absolute;
			left: 0;
			right: 0;
			// TODO: avoid glitch mouse in-out
			top: $fab-size; // + $fab-margin;
			//padding-top: 16px
		}

	}

	/*
	   * We only provided the btn-primary class
	   */
	$vanilla-fab-primary-background-color: $vanilla-button-primary-background-color !default;
	$vanilla-fab-primary-text-color: $vanilla-button-primary-text-color !default;
	$vanilla-fab-primary-active-background-color: $vanilla-button-primary-active-background-color !default;
	$vanilla-fab-primary-active-text-color: $vanilla-button-primary-active-text-color !default;
	$vanilla-fab-primary-border: $vanilla-button-primary-border !default;

	@include fab-builder(primary, $vanilla-button-primary-background-color, $vanilla-button-primary-text-color, $vanilla-button-primary-active-background-color, $vanilla-button-primary-active-text-color, $vanilla-button-primary-border);

}
