@import "../mixin/variables";
@import "../mixin/breakpoints";

$vanilla-form-control-size: 1.2rem !default;

@if $vanilla-use-form-layouts == 1 {

	/*
	 * LAYOUT
	 */


	.form-flex {
		.row {
			display: flex;
			flex-direction: row;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			align-items: stretch;

			label {
				flex-shrink: 1;
				flex-basis: 30%;
				align-self: center;
				padding-right: 0.5rem;
			}

			label + * {
				// IE11 fails
				//flex-grow: 1;
				//flex-basis: 70%;
				flex: 1;
			}

			margin-bottom: 1rem;

			// Become stacked on small
			@include to_breakpoint(small) {

				label {
					flex: none;
					width: 100%;
				}

				label + * {
					flex: none;
					width: 100%;
				}

			}

		}

		// Style checkbox and radio in the form: <div class="subrow"> <label><input type=radio> <span>value</span> </label> (...) </div>
		.subrow {
			label {
				display: inline-block;
				vertical-align:middle;

				border: dotted 1px transparent;
				&:focus-within {
					border-color: $vanilla-disabled-color;
				}

				span  {
					padding-left: .2rem;
					padding-right: .5rem;
				}

			}
		}


	}


	/*
	 * STYLES
	 */

	.form-rounded {
		input:not([type="checkbox"]):not([type="radio"]), select, textarea, fieldset {
			border-radius: $vanilla-border-radius;
		}
	}


	.form-flat {

		input:not([type="checkbox"]):not([type="radio"]), select, textarea, fieldset, ::-webkit-file-upload-button {
			border: none;
			box-shadow: none;
			border-radius: 0;
		}

	}


	/*
	 * ADDITIONAL CUSTOM STYLEs
     */


	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E') !important;
		background-repeat: no-repeat, repeat !important;
		background-position: right .7em top 50%, 0 0 !important;
		background-size: .65em auto, 100% !important;
	}


	input[type="radio"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		border-radius: 50%;
		border: solid 1px $vanilla-disabled-color;

		position: relative;
		padding: 0;
		margin: 0;
		width: $vanilla-form-control-size;
		height: $vanilla-form-control-size;

		&:checked {
			background-color: $vanilla-primary-color;
			border-color: $vanilla-alt-text-color;

			&::after {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				content: '✔';
				font-size: 1rem;
				line-height: 1;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				color: $vanilla-alt-text-color;
			}
		}

	}


	input[type="checkbox"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		border-radius: $vanilla-border-radius;
		border: solid 1px $vanilla-disabled-color;

		position: relative;
		padding: 0;
		margin: 0;
		width: $vanilla-form-control-size;
		height: $vanilla-form-control-size;
		//font-size:1rem; line-height: 1.4;

		&:checked {
			background-color: $vanilla-primary-color;
			border-color: $vanilla-alt-text-color;

			&::after {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				content: '✔';
				font-size: $vanilla-form-control-size;
				line-height: 1;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				color: $vanilla-alt-text-color;
			}
		}

	}


}
