
.hover-master {

	position: relative;

	.hover-slave {
		display:none;
		position: absolute;
		z-index: 1;
		padding: 0;
		background: $vanilla-hover-background;
		color: $vanilla-hover-color;
		top: 100%;
		left: 0;
		min-width: 200px;

		li {
			padding: 1rem;
		}
		li:hover {
			background: $vanilla-hover-active-background;
			color: $vanilla-hover-active-color;
		}

	}

	&:hover .hover-slave {
		display:block;
	}

}
