

.cover-parent {
	position: relative;
	overflow: hidden;
}

.cover-child {
	@extend .fill-parent;

	&.cover-inline {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
	}

	&.cover-center {
		display: flex;
		align-content: center;
		align-items: center;
		justify-content: center;
	}

	&.cover-top {
		bottom: auto;
		height: auto;
	}

	&.cover-bottom {
		top: auto;
		height: auto;
	}

	&.cover-left {
		right: auto;
		width: auto;
	}

	&.cover-right {
		left: auto;
		width: auto;
	}

	&.cover-top-left {
		bottom: auto;
		right: auto;
	}

	&.cover-top-right {
		bottom: auto;
		left: auto;
	}

	&.cover-bottom-left {
		top: auto;
		right: auto;
	}

	&.cover-bottom-right {
		top: auto;
		left: auto;
	}

}


.cover-overlay-opacity {
	.cover-child {
		opacity: 0;
		transition: .5s ease;
		background-color: $vanilla-cover-background-color;
	}

	&:hover	.cover-child {
		opacity: 1;
	}
}

.cover-overlay-bottom {
	.cover-child {
		height: 0;
		transition: .5s ease;
		background-color: $vanilla-cover-background-color;
		top: auto;
	}

	&:hover	.cover-child {
		height: 100%;
	}
}


.cover-overlay-top {
	.cover-child {
		bottom: 100%;
		height: 0;
		transition: .5s ease;
		background-color: $vanilla-cover-background-color;
		//top: auto;
		overflow: hidden;
	}

	&:hover	.cover-child {
		bottom: 0;
		height: 100%;
	}
}

.cover-overlay-left {
	.cover-child {
		width: 0;
		transition: .5s ease;
		background-color: $vanilla-cover-background-color;
		overflow: hidden;
	}

	&:hover	.cover-child {
		width: 100%;
	}
}


.cover-overlay-right {
	.cover-child {
		left: 100%;
		width: 0;
		transition: .5s ease;
		background-color: $vanilla-cover-background-color;
		//top: auto;
		overflow: hidden;
	}

	&:hover	.cover-child {
		left: 0;
		width: 100%;
	}
}
