
.position-relative, .position-parent {
	position: relative;
}


.position-center {
	@extend .fill-parent;
	@extend .flex-col-center;
}


.position-bottom {

	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: auto;

	@extend .flex-row-vcenter;
}
