
@if $vanilla-use-pulse == 1 {

	// BORROWED FROM: unknown

	.fab.pulse {
		&::before {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: inherit;
			border-radius: inherit;
			transition: opacity .3s, transform .3s;
			//animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
			@include animation(pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite);
			z-index: $vanilla-hover-zindex;
		}

		overflow: initial;

		// AGX: stop animation on hover
		&:hover::before {
			-webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
			animation-play-state: paused;
		}
	}

	@include keyframes(pulse-animation) {
		0% {
			opacity: 1;
			@include transform(scale(1));
		}
		50% {
			opacity: 0;
			@include transform(scale(1.5));
		}
		100% {
			opacity: 0;
			@include transform(scale(1.5));
		}
	}


	// BLINK
	.pulse-opacity {
		transition: opacity .3s, transform .3s;
		//animation: pulse-animation-opacity 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
		@include animation(pulse-animation-opacity 1s cubic-bezier(0.24, 0, 0.38, 1) infinite);

		&:hover::before {
			-webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
			animation-play-state: paused;
		}

	}


	@include keyframes(pulse-animation-opacity) {
		0% {
			opacity: 1;
		}
		50% {

			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

}
