/*
 * Single Item Spinner Resources:
 * https://codepen.io/jasonheecs/pen/dOvzLz
 */


/*
 * from https://codepen.io/jasonheecs/pen/dOvzLz
 * https://projects.lukehaas.me/css-loaders/
 */

.spinner1 {
	position: relative;
	color: transparent;

	&::before {
		position: absolute;
		top: 50%;
		left: calc(50% - 4em);
		width: 1.5em;
		height: 1.5em;
		transform: translate3d(-50%, -50%, 0);
		border-radius: 50%;
		color: $vanilla-primary-color;
		content: '';
		will-change: box-shadow;
		animation: spinner1 2s infinite linear;
	}
}

@keyframes spinner1 {
	0%,
	100% {
		box-shadow: 2.5em 0 0 -.8em, 5em 0 0 -.8em, 7.5em 0 0 -.8em;
	}

	12.5% {
		box-shadow: 2.5em 0 0 0, 5em 0 0 -.8em, 7.5em 0 0 -.8em;
	}

	25% {
		box-shadow: 2.5em 0 0 .2em, 5em 0 0 0, 7.5em 0 0 -.8em;
	}

	37.5% {
		box-shadow: 2.5em 0 0 0, 5em 0 0 .2em, 7.5em 0 0 0;
	}

	50% {
		box-shadow: 2.5em 0 0 -.2em, 5em 0 0 0, 7.5em 0 0 .2em;
	}

	62.5% {
		box-shadow: 2.5em 0 0 -.4em, 5em 0 0 -.2em, 7.5em 0 0 0;
	}

	75% {
		box-shadow: 2.5em 0 0 -.6em, 5em 0 0 -.4em, 7.5em 0 0 -.2em;
	}
}


.img-placeholder {
	@extend .spinner1;

	&:before {
		z-index: -1;
	}
}
