
@media  (min-width: $vanilla-breakpoint-small) {
	.visible-on-x-small {
		display: none !important;
	}
}

@media  (min-width: $vanilla-breakpoint-medium ), (max-width: $vanilla-breakpoint-small - 1) {
	.visible-on-small {
		display: none !important;
	}
}

@media  (min-width: $vanilla-breakpoint-large), (max-width: $vanilla-breakpoint-medium - 1) {
	.visible-on-medium {
		display: none !important;
	}
}

@media  (min-width: $vanilla-breakpoint-x-large ), (max-width: $vanilla-breakpoint-large - 1) {
	.visible-on-large {
		display: none !important;
	}
}

@media  (min-width: $vanilla-breakpoint-xx-large), (max-width: $vanilla-breakpoint-x-large - 1) {
	.visible-on-x-large {
		display: none !important;
	}
}

@media  (max-width: $vanilla-breakpoint-xx-large - 1)  {
	.visible-on-xx-large {
		display: none !important;
	}
}
