@if $vanilla-use-wordpress == 1 {

	// .alignfull will generate a horizontal scrollbar
	html, body {
		overflow-x: hidden;
	}

	// Margin Bottom Sotto Tutti i Blocchi standard
	.wp-block-button,
	.wp-block-quote,
	.wp-block-pullquote,
	.wp-block-gallery,
	.wp-block-image,
	.wp-block-cover,
	.bp-video-container {
		margin-bottom: $vanilla-wp-vertical-spacing;
	}


	/*
	 * MEDIA (a two column block layout)
	 */

	.wp-block-media-text {

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;

		figure { // .wp-block-media-text__media {
			display: block;
			flex: 0 0 50%;
		}

		.wp-block-media-text__content {
			display: block;
			flex: 0 0 50%;
			padding-left: $vanilla-wp-horizontal-spacing;
		}

		&.has-media-on-the-right {
			.wp-block-media-text__content {
				order: -1;
				padding-left: 0;
				padding-right: $vanilla-wp-horizontal-spacing;
			}
		}


		// Override responsive

		@media(max-width: $vanilla-breakpoint-small) {

			display: block;

			.wp-block-media-text__content {
				padding-left: 0;
				flex: none;
			}

			&.has-media-on-the-right {
				.wp-block-media-text__content {
					padding-right: 0;
				}
			}
		}
	}


	/*
	 * Vertical Spacer
	 */

	.wp-block-spacer {
		height: $vanilla-wp-vertical-spacing-large;
	}

	.wp-block-separator {
		border-color: rgba(0, 0, 0, 0.1);
	}


	/*
	 * COLUMNS: 2
	 */

	.wp-block-columns {
		display: flex;
		flex-direction: row;

		@include to_breakpoint(medium) {
			flex-direction: column;

			.wp-block-column:not(:first-child) {
				margin-top: $vanilla-wp-vertical-spacing;
			}

		}

		.wp-block-column {
			display: block;
			flex: 1;
		}

		// remove on block column
		ul, ol {
			margin-top: 0;
		}

	}


	/*
	 * BUTTON
	 */

	.wp-block-button {
		margin-top: $vanilla-wp-vertical-spacing;

		a {
			@extend .btn, .btn-primary;
			padding: 0.5rem 2rem;
			border-radius: 20px;
			display: inline-block;
		}
	}

	.wp-block-button.is-style-outline > a {
		background: transparent;
		border-radius: 20px;
		border: solid 1px rgba($vanilla-button-primary-background-color, .7);
		color: $vanilla-button-primary-background-color;

		&:hover {
			@extend .shadow-1;
		}
	}

	.wp-block-button.is-style-squared > a {
		border: solid 1px rgba($vanilla-button-primary-background-color, .7);
		border-radius: 0;
	}


	/*
	 * BLOCK QUOTE
	 */

	.wp-block-pullquote {

		p, cite {
			text-align: center;
			display: block;
		}

		cite {
			margin-top: $vanilla-wp-vertical-spacing-medium;
		}

		em {
			font-size: 1.9rem;
			line-height: 1.677;
		}

		border-top: 3px solid $vanilla-text-color;
		border-bottom: 3px solid $vanilla-text-color;

		padding-top: $vanilla-wp-vertical-spacing-medium;
		padding-bottom: $vanilla-wp-vertical-spacing-medium;

		blockquote {
			border: none;
		}
	}


	/*
	 * EMBED
	 */

	.wp-block-embed-youtube {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 56.25%;

		.wp-block-embed__wrapper > iframe {
			@extend .fill-parent;
		}

	}


	/*
	 * IMAGE
	 */

	@media (max-width: 1100px) {
		div[class^="wp-block-"] {

			.alignleft, .alignright {
				float: none;
				text-align: center;
				margin-left: auto;
				margin-right: auto;
			}

		}
	}


	@media (min-width: 1100px) {
		.entry-content {
			.alignleft {
				float: left;
				margin-right: 1.8rem;
				margin-top: 0;
				width: 75%;
				margin-left: -150px;
				text-align: right;
				max-width: 520px;
			}

			.alignright {
				float: right;
				margin-left: 1.8rem;
				margin-top: 0;
				max-width: 50%;
				text-align: left;
			}

			.wp-block-pullquote {

				&.alignleft {
					width: 50%;

				}

				&.alignright {
					margin-right: -150px;
				}

			}
		}
	}


	@include from_breakpoint(small) {

		.alignwide {
			margin-left: -20%;
			margin-right: -20%;
			text-align: center;

			img {
				width: 100%;
			}
		}

		.alignfull {
			width: 100vw;
			position: relative;
			left: 50%;
			right: 50%;
			//padding: 0; breaks wp-block-pullquote
			margin-left: -50vw;
			margin-right: -50vw;
			text-align: center;

			img {
				width: 100%;
				max-height: 100vh;
				max-height: var(--vanilla-vh, 100vh);
				object-fit: cover;
			}
		}

	}

	.wp-block-cover {
		min-height: 600px;
		max-height: 100vh;
		max-height: var(--vanilla-vh, 100vh);
		@extend .flex-col-center;

		.wp-block-cover__inner-container {
			@extend .h1;
		}

		&.has-background-dim {
			.wp-block-cover__inner-container {
				color: #fff;
			}
		}

		&.has-parallax {
			background-attachment: fixed;
		}

	}


	.wp-block-image figcaption {
		text-align: center;
		font-size: px2rem(14);
		color: $vanilla-alt-text-color;
		line-height: 1.3;
	}


	/*
	 * GALLERY
	 */

	.wp-block-gallery {
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		list-style-type: none;
		padding: 0;
		// allow gallery items to go edge to edge
		margin-left: -$vanilla-wp-horizontal-spacing / 2;
		margin-right: -$vanilla-wp-horizontal-spacing / 2;


		.blocks-gallery-image,
		.blocks-gallery-item {
			margin: 8px;
			display: flex;
			flex-grow: 1;
			flex-direction: column;
			justify-content: center;
			position: relative;

			figure {
				margin: 0;
				height: 100%;
				display: flex;
				align-items: flex-end;
			}

			img {
				display: block;
				max-width: 100%;
				height: auto;
			}

			figcaption {
				@extend %overlay-bottom-caption;
				pointer-events: none; // Avoid figcaption to stop lightbox
			}
		}

		// Cropped
		&.is-cropped .blocks-gallery-image,
		&.is-cropped .blocks-gallery-item {
			a,
			img {
				flex: 1;
				width: 100%;
				height: 100%;
				object-fit: cover;

			}
		}

		// Responsive fallback value, 2 columns
		& .blocks-gallery-image,
		& .blocks-gallery-item {
			width: calc(100% / 2 - #{$vanilla-wp-horizontal-spacing});
		}

		&.columns-1 .blocks-gallery-image,
		&.columns-1 .blocks-gallery-item {
			width: calc(100% / 1 - #{$vanilla-wp-horizontal-spacing});
		}

		/*@include break-small {*/
		@media (min-width: $vanilla-breakpoint-small) {
			@for $i from 3 through 8 {
				&.columns-#{ $i } .blocks-gallery-image,
				&.columns-#{ $i } .blocks-gallery-item {
					width: calc(100% / #{ $i } - #{$vanilla-wp-horizontal-spacing});
				}
			}
		}

		&.columns-3 .blocks-gallery-item {
			@media (max-width: $vanilla-breakpoint-medium) {
				width: calc(100% / 2 - #{$vanilla-wp-horizontal-spacing});
			}
			@media (max-width: $vanilla-breakpoint-small) {
				width: 100%;
			}
		}

		// Make the "Add new Gallery item" button full-width (so it always appears
		// below other items).
		.blocks-gallery-item {
			&.has-add-item-button {
				width: 100%;
			}
		}

		// Apply max-width to floated items that have no intrinsic width
		[data-align="left"] &,
		[data-align="right"] &,
		&.alignleft,
		&.alignright {
			//max-width: $content-width / 2;
			width: 100%;
		}

	}


	.wp-block-preformatted, .wp-block-code {
		background-color: $vanilla-form-background;
		border: $vanilla-form-border;
		padding: $vanilla-wp-horizontal-spacing-medium;
	}


	.wp-block-quote {
		padding-left: $vanilla-wp-horizontal-spacing-medium;
		border-left: solid 4px $vanilla-form-border-color;
	}


	@media (min-width: 1100px) {
		.wp-block-pullquote.alignwide, .wp-block-gallery.alignwide {
			margin-left: -20%;
			margin-right: -20%;
			text-align: center;
		}
	}


	// end-if wordpress
}

//


/*
 * FIX GUTENBERG + MEDIUM
 */
@if $vanilla-use-medium == 1 {

	.medium-content ul.wp-block-gallery li:before {
		display: none;
	}

	.medium-content {

		pre.wp-block-code code {
			background: transparent;
			white-space: pre-wrap;
		}

		figure {

			&.alignleft, &.alignright {
				// same margin as medium paragraph
				margin-top: $medium-paragraph-margin-top;
			}


		}

	}

}
