
input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="range"]):not([type="color"]):not([type="file"]), select, textarea {
	padding: 0.5em 0.6em;
	border: $vanilla-form-border;
	box-shadow: $vanilla-form-box-shadow;
	vertical-align: middle;
	background: $vanilla-form-background;

	@include placeholder() {
		color: $vanilla-disabled-color;
	}

}

// Reset IOS
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
// EXTRA
input[type="submit"],
input[type="button"],
input[type="reset"]
{
	//appearance: none;
	//-moz-appearance: none;
	-webkit-appearance: none;
	//border-radius: 0;
	//-moz-border-radius: 0;
	-webkit-border-radius: 0;
}



input[type="color"] {
	background: $vanilla-form-background;
	box-shadow: $vanilla-form-box-shadow;
	border: $vanilla-form-border;
	padding: 0;
}

input[type="number"].no-spin {

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin: 0;
	}
}


// Chrome Fix for placehold color
input[type="date"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="time"] {
	//noinspection CssInvalidPseudoSelector
	&::-webkit-datetime-edit {
		color: $vanilla-disabled-color;
	}
}

input[type="range"] {
	margin: 0;
}


fieldset {
	border: $vanilla-form-border;
	box-shadow: $vanilla-form-box-shadow;
}

legend {
	background: white;
	text-align: center;
	@extend .h5;
}


// Make clickable elements
label[for], .pointer {
	cursor: pointer;
}


/*
 * LAYOUTS
 */


.form-flex {
	.row {
		display: flex;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		align-items: stretch;

		label {
			flex-shrink: 1;
			flex-basis: 30%;
			align-self: center;
			padding-right: 0.5rem;
		}
		label + * {
			flex-grow: 1;
			flex-basis: 70%;
		}

		margin-bottom: 1rem;

		// Become stacked on small
		@include to_breakpoint(small) {

			label {
				flex: none;
				width: 100%;
			}

			label + * {
				flex: none;
				width: 100%;
			}

		}

	}

}


/*
 * STYLES
 */

.form-rounded {
	input, select, textarea, fieldset {
		border-radius: $vanilla-border-radius;
	}
}


.form-flat {

	input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="range"]):not([type="color"]):not([type="file"]),
	select, textarea, fieldset,
	input[type="color"] {
		border: none;
		box-shadow: none;
		padding-left: 0;
		padding-right: 0;
	}

}

