.responsive {
	width: 100%;
	height: auto;
	display: inline-block;
}


.soft-responsive {
	width: auto;
	max-width: 100%;
	height: auto;
	display: inline-block;
}

.img-reset {
  display: initial;
  max-width: initial;
  height: initial;
  width: initial;
}

IMG {
	//@extend .responsive;
	@extend .soft-responsive;

	// cancel responsive
	&.reset {
    @extend .img-reset;
	}

	&.contain {
		@extend .img-reset;
		-o-object-fit: scale-down;
		object-fit: scale-down;
		overflow: hidden;
	}

	&.cover {
		@extend .img-reset;
		overflow: hidden;
		-o-object-fit: cover;
		object-fit: cover;
	}

	&.expand {
		width: 100%;
		height: 100%;
	}
}
