@import "../mixin/variables";

.m-top {
	margin-top: $vanilla-vertical-spacing !important;
}

.m-top-2 {
	margin-top: $vanilla-vertical-spacing * 2 !important;
}

.m-bottom {
	margin-bottom: $vanilla-vertical-spacing !important;
}

.m-bottom-2 {
	margin-bottom: $vanilla-vertical-spacing * 2 !important;
}

.m-center {
	@include margin-center;
}
