body {
	min-height: 100vh;
}

.navbar {
	background: #eee;
}
.navbar-overlay li {
	padding: 1rem;
	transition: none;
}
.navbar-overlay li:hover {
	background: #eee;
	color: #333;
}


/*
 * Format the JS navbar
 */
nav.docmenu {
	width: 100%;
	background: #eee;
	margin-top: 6rem;
	/*height: 3rem;*/
	display: block;
	text-align: center;
	padding-left: 1rem;
	padding-right: 1rem;
}

header nav.docmenu {
	margin: 0;
	margin-bottom: 3rem;
}


nav.docmenu ol {
	margin: 0;
	padding: 0;
	display: inline-block;
	line-height: 3rem;
}

nav.docmenu li {
	float: left;
	display: inline-block;
	margin-right: 2rem;
	text-transform: capitalize;
}

nav.docmenu a {
	text-decoration: none;
}

nav.docmenu a:hover {
	text-decoration: underline;
}

/*
 * Convert docmenu in a normal OL
 */
.convert-docmenu nav.docmenu {
	background: transparent;
}

.convert-docmenu nav.docmenu ol {
	list-style-type: decimal;
	list-style-position: inside;
}

.convert-docmenu nav.docmenu li {
	float: none;
	display: list-item;
}

.convert-docmenu nav.docmenu li.home {
	display: none;
}


/*
 * Typography test
 */
.test-margin h3,
.test-margin h4,
.test-margin h5,
.test-margin h6 {
	margin-top: 20px;
	margin-bottom: 4px;
}

.test-margin h1,
.test-margin h2 {
	margin-top: 30px;
	margin-bottom: 8px;
}

.test-smallbox {
	max-width: 600px;
	border: dashed 1px #777;
	padding: 8px;
}

.test-zeropadding {
	padding: 0 !important;
}

/*
 * Image test
 */

.test-squaredimagebox, IMG.test-squaredimagebox {
	width: 300px;
	height: 300px;
	border: dashed 1px #777;
	padding: 8px;
}

.test-squaredimagebox-large, IMG.test-squaredimagebox-large {
	width: 500px;
	height: 500px;
	border: dashed 1px #777;
	padding: 8px;
}


/*
 * GRID Test
 */
.grid-debug .cell {
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

.grid-debug .cell:nth-child(odd) {
	background: #ffaaaa;
}

.grid-debug .cell:nth-child(even) {
	background: #aaaaff;
}

.test-background1 {
	background: #ffaaaa;
}

.test-background2 {
	background: #aaaaff;
}

.grid-debug .grid-gutter .cell .inner {
	border: dotted 1px black;
}

/* GRID NESTED */
.test-grid-nested .cell, .test-grid-basic .cell {
	padding: 8px;
}

.test-grid-nested.grid-debug .cell > .inner {
	border: dashed 1px #777;
	background: #fff;
}

/* GRID GUTTER */
.grid-debug .grid-gutter .cell > .inner {
	border: solid 2px black;
	padding: 4px;
}


/*
 * Viewport
 */
.test-padding {
	padding: 2rem;
}

.test-margin-top {
	margin-top: 2rem;
}

/*
 * Overlay
 */
.test-gradient {
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
}


footer {
	margin-top: 3rem;
}

@media (min-width: 1024px) {


	body {
		padding-bottom: 6rem;
	}

	footer {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}

}
