body {
	min-height: 100vh;
  min-height: var(--vanilla-vh,100vh);
}

header {
	margin-bottom: 3rem;
}

.navbar {
	background: #eee;
}


.navbar-toggle {
	display: block !important;
	background: #eee;
}

.navbar-menu {
	max-width: calc(100vw - 100px);
}

.navbar-overlay {
	overflow: auto;
}

.navbar-overlay li:hover {
	color: #fff;
}


/*
 * Typography test
 */
.test-margin h3,
.test-margin h4,
.test-margin h5,
.test-margin h6 {
	margin-top: 20px;
	margin-bottom: 4px;
}

.test-margin h1,
.test-margin h2 {
	margin-top: 30px;
	margin-bottom: 8px;
}

.test-smallbox {
	max-width: 600px;
	border: dashed 1px #777;
	padding: 8px;
}

.test-zeropadding {
	padding: 0 !important;
}

/*
 * Image test
 */

.test-squaredimagebox, IMG.test-squaredimagebox {
	width: 300px;
	height: 300px;
	border: dashed 1px #777;
	padding: 8px;
}

.test-squaredimagebox-large, IMG.test-squaredimagebox-large {
	width: 500px;
	height: 500px;
	border: dashed 1px #777;
	padding: 8px;
}


/*
 * GRID Test
 */
.grid-debug .cell {
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

.grid-debug .cell:nth-child(odd) {
	background: #ffaaaa;
}

.grid-debug .cell:nth-child(even) {
	background: #aaaaff;
}

.test-background1 {
	background: #ffaaaa;
}

.test-background2 {
	background: #aaaaff;
}

.grid-debug .grid-gutter .cell .inner {
	border: dotted 1px black;
}

/* GRID NESTED */
.test-grid-nested .cell, .test-grid-basic .cell {
	padding: 8px;
}

.test-grid-nested.grid-debug .cell > .inner {
	border: dashed 1px #777;
	background: #fff;
}

/* GRID GUTTER */
.grid-debug .grid-gutter .cell > .inner {
	border: solid 2px black;
	padding: 4px;
}


/*
 * Viewport
 */
.test-padding {
	padding: 2rem;
}

.test-margin-top {
	margin-top: 2rem;
}

/*
 * Overlay
 */
.test-gradient {
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
}


footer {
	margin-top: 3rem;
	padding: 1rem;
	text-align: center;
	background: #eee;
}


.back-to-top {
	float: right;
	text-decoration: underline;
}


@media (min-width: 1024px) {


	body {
		padding-bottom: 9rem;
	}

	footer {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 0;
	}

}
